$brand-primary: #222222;
$brand-secondary: #d6ac95;
$icon-color: #000000;
$icon-responsivecolor: #000000;
$breadcrumb_color:#f5f5f5;
$breadcrumb_image:"../../../../../OPC112L01/image/catalog/breadcrumb.png";
$rgba-bgcolor:rgba(214, 172, 149, .6);
$btn-primary-bg-color:#232323;
$btn-hover-primary-bg-color:#d6ac95;
$btn-primary-text-color:#ffffff;
$btn-hover-primary-text-color:#ffffff;
$btn-secondary-bg-color:#d6ac95;
$btn-hover-secondary-bg-color:#232323;
$btn-secondary-text-color:#ffffff;
$btn-hover-secondary-text-color:#ffffff;
$header-top-bg-color:#232323;
$header-top-text-color:#000000;
$header-bg-color:#ffffff;
$header-text-color:#232323;
$header-hover-text-color:#d6ac95;
$product-icon-color:#000000;
$product-hover-icon-color:#ffffff;
$footer-bg-color:#ffffff;
$footer-bg-image:"../../../../../OPC112L01/image/catalog/footerbackground.png";
$footer-title-color:#ffffff;
$footer-text-color:#999999;
$footer-hover-text-color:#d6ac95;
