$brand-primary: #222222;
$brand-secondary: #e3a5b0;
$icon-color: #000000;
$icon-responsivecolor: #000000;
$breadcrumb_color:#f5f5f5;
$breadcrumb_image:"http://opencart/image/catalog/breadcrumb.png";
$rgba-bgcolor:rgba(227, 165, 176, .6);
$btn-primary-bg-color:#232323;
$btn-hover-primary-bg-color:#e3a5b0;
$btn-primary-text-color:#ffffff;
$btn-hover-primary-text-color:#ffffff;
$btn-secondary-bg-color:#e3a5b0;
$btn-hover-secondary-bg-color:#232323;
$btn-secondary-text-color:#ffffff;
$btn-hover-secondary-text-color:#ffffff;
$header-top-bg-color:#232323;
$header-top-text-color:#000000;
$header-bg-color:#ffffff;
$header-text-color:#232323;
$header-hover-text-color:#e3a5b0;
$product-icon-color:#000000;
$product-hover-icon-color:#ffffff;
$footer-bg-color:#ffffff;
$footer-bg-image:"";
$footer-title-color:#ffffff;
$footer-text-color:#999999;
$footer-hover-text-color:#e3a5b0;
