.header {
  &-top {
    .container {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.minicart {
  &-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-button {
    width: 100%;
  }
}

.breadcrumb {
  padding: 10px 0;
  text-align: left;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 544px) {
    max-width: 576px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }

  @media (max-width: 991px) {
    padding: 10px 15px;
  }
}

.language {
  &-selector {
    &::after {
      content: none;
    }
  }
}

#checkout-cart {
  @media (max-width: 600px) {
    table {
      border: 0;
    }

    .table-responsive {
      border: none;
    }

    table thead {
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      display: block;
      margin-bottom: .625em;
      border: 1px solid #ddd;

      td:first-child {
        border-top: 0;
      }
    }

    table td {
      display: block;
      font-size: .8em;
      text-align: right;
      border: 0;
      border-bottom: 1px solid #ddd;

      &.td-qty {
        height: 40.8px;
      }

      &.td-qty,
      &.td-image {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    table td::before {
      content: attr(data-label);
      float: left;
      color: #222;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      vertical-align: middle;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }

  .remove-item {
    height: 30px;
    padding: 0 10px;
  }

  .input {
    &-group {

      &.group-btn {
        display: flex;
        gap: 10px;

        @media (max-width: 600px) {
          max-width: 150px;
        }
      }

      .mini {
        &-cart {
          &-btns {
            display: flex;

            button[type=submit] {
              height: 30px;
              padding: 0 10px;
            }

            input {
              box-sizing: border-box;

              &[name^=quantity] {
                height: 30px;
                padding: 0;
                background-color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

#cart {
  .product {
    &-detail {
      display: block;
    }
  }

  table > tbody > tr > td .product-detail {
    font-size: 12px;
  }

  &.dropdown {
    .dropdown-menu {
      &:not(.open) {
        display: none !important;
      }
    }

    &.open {
      .dropdown {
        &-menu {
          display: block !important;
        }

        &-backdrop {
          display: block;
          background-color: rgba(#333, 0.5);
          z-index: 3;
        }
      }

      &::after {
        content: '';
        display: block;
        position: fixed;
        z-index: 9;
        background-color: rgba(#333, 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  .cart {
    &-dropdown {
      &.dropdown-menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh !important;
        padding: 15px !important;
        margin: 0;
        border-radius: 0;
        z-index: 10;
        padding-top: 50px !important;

        &::after {
          content: '\00d7';
          position: absolute;
          right: 15px;
          top: 15px;
          font-size: 26px;
          color: #333;
        }

        &::before {
          content: 'Ваша корзина';
          position: absolute;
          left: 15px;
          top: 15px;
          font-size: 16px;
          color: #333;
        }
      }
    }
  }
}

.product {
  &_carousel {
    #product {
      & > .row {
        display: flex;
        flex-direction: column;
      }

      .product {
        &_option {
          width: 100%;

          .control-label {
            &::before {
              content: none;
            }
          }

          .form-group {
            #input-option237 {
              .radio {
                label {
                  position: relative;
                  font-size: 16px;
                  background-color: #fff;
                  border: 1px solid #ddd;
                  border-radius: 4px;
                  padding-left: 0;
                  width: 40px;
                  height: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  input {
                    display: block;
                    width: 0;
                    height: 0;
                  }

                  input:checked {
                    &::after {
                      content: '';
                      position: absolute;
                      display: block;
                      z-index: 1;
                      top: -22px;
                      left: -10px;
                      border: 1px solid #000;
                      border-radius: 4px;
                      background: transparent;
                      width: 40px;
                      height: 40px;
                    }
                  }
                }
              }
            }

            div[id^="input-option"] {
              display: flex;
              padding: 10px 0;
              gap: 10px;

              .radio {
                margin: 0;
                flex-shrink: 0;

                label {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 5px;
                  padding-left: 0;
                  font-size: 12px;

                  input {
                    display: none;

                    &:checked + img {
                      border: 1px solid #333;
                    }
                  }

                  img {
                    width: 60px;
                    height: 60px;
                    transition: unset;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.zoom-sticky {
  position: sticky;
  z-index: 10;
  top: 0;

  .zoom {
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;
    padding-bottom: 100%;
    background: #ffffff;
    display: none;
    @media (max-width: 768px) {
      display: none !important;
    }

  }
}

.product {
  &-left {
    .thumbnail {
      &:hover {
        .img-zoom-lens {
          display: block;
        }
      }
    }
  }
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #ddd;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  display: none;
  @media (max-width: 768px) {
    display: none !important;
  }
}

.preloader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100px;
  }

  &.d-none {
    display: none;
  }
}