.header {
  &-top {
    .container {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}

.minicart {
  &-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-button {
    width: 100%;
  }
}

.breadcrumb {
  padding: 10px 0;
  text-align: left;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 544px) {
    max-width: 576px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }

  @media (max-width: 991px) {
    padding: 10px 15px;
  }
}

.language {
  &-selector {
    &::after {
      content: none;
    }
  }
}

#checkout-checkout,
#account-order {
  @media (max-width: 991px) {
    table {
      border: 0;
    }

    .table-responsive {
      border: none;
    }

    table thead {
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      display: block;
      margin-bottom: .625em;
      border: 1px solid #ddd;

      td:first-child {
        border-top: 0;
      }
    }

    table td {
      display: block;
      font-size: .8em;
      text-align: right;
      border: 0;
      border-bottom: 1px solid #ddd;

      &.td-qty {
        height: 40.8px;
      }

      &.td-qty,
      &.td-image {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    table td::before {
      content: attr(data-label);
      float: left;
      color: #222;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      vertical-align: middle;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }
}

#checkout {
  &-checkout {
    #payment-existing,
    #shipping-existing {
      select[name="address_id"] {
        margin-top: 10px;
      }
    }

    #login-button {
      background: transparent;
      border: none;
      outline: none;
      text-align: left;
      color: #333;
    }

    .panel {
      border: none;

      &-heading {
        display: none;
      }
    }
  }

  &-cart {
    .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
    }

    @media (max-width: 991px) {
      table {
        border: 0;
      }

      .table-responsive {
        border: none;
      }

      table thead {
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      table tr {
        display: block;
        margin-bottom: .625em;
        border: 1px solid #ddd;

        td:first-child {
          border-top: 0;
        }
      }

      table td {
        display: block;
        font-size: .8em;
        text-align: right;
        border: 0;
        border-bottom: 1px solid #ddd;

        &.td-qty {
          height: 40.8px;
        }

        &.td-qty,
        &.td-image {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      table td::before {
        content: attr(data-label);
        float: left;
        color: #222;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        vertical-align: middle;
      }

      table td:last-child {
        border-bottom: 0;
      }
    }

    @media (max-width: 520px) {
      .buttons {
        flex-direction: column-reverse;

        a {
          width: 100%;
        }
      }
    }

    .remove-item {
      height: 30px;
      padding: 0 10px;
    }

    .input {
      &-group {

        &.group-btn {
          display: flex;
          gap: 10px;

          @media (max-width: 991px) {
            max-width: 150px;
          }
        }

        .mini {
          &-cart {
            &-btns {
              display: flex;

              button[type=submit] {
                height: 30px;
                padding: 0 10px;
              }

              input {
                box-sizing: border-box;

                &[name^=quantity] {
                  height: 30px;
                  padding: 0;
                  background-color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}

#cart {
  .product {
    &-detail {
      display: block;
    }
  }

  table > tbody > tr > td .product-detail {
    font-size: 12px;
  }

  &.dropdown {
    .dropdown-menu {
      &:not(.open) {
        display: none !important;
      }
    }

    &.open {
      .dropdown {
        &-menu {
          display: block !important;
        }

        &-backdrop {
          display: block;
          background-color: rgba(#333, 0.5);
          z-index: 3;
        }
      }

      &::after {
        content: '';
        display: block;
        position: fixed;
        z-index: 9;
        background-color: rgba(#333, 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  .cart {
    &-dropdown {
      &.dropdown-menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh !important;
        padding: 15px !important;
        border: none;
        border-left: 1px solid #e7e7e7;
        margin: 0;
        border-radius: 0;
        z-index: 10;
        padding-top: 50px !important;

        &::after {
          content: '\00d7';
          position: absolute;
          right: 15px;
          top: 15px;
          font-size: 26px;
          color: #333;
        }

        &::before {
          content: 'Корзина';
          position: absolute;
          left: 15px;
          top: 15px;
          font-size: 16px;
          color: #333;
        }
      }
    }
  }
}

.blogstoryblock {
  .smartblog_block {
    @media (min-width: 1200px) {
      display: flex;
      align-items: stretch;

      .blog-content {
        display: flex;
        align-items: center;
      }
    }
  }
}

.smartblog_block {
  .blog-content {

  }
}

.product {
  &_carousel {
    #product {
      & > .row {
        display: flex;
        flex-direction: column;
      }

      .product {
        &_option {
          width: 100%;

          .control-label {
            &::before {
              content: none;
            }
          }

          .form-group {
            #input-option237 {
              .radio {
                label {
                  position: relative;
                  font-size: 16px;
                  background-color: #fff;
                  border: 1px solid #ddd;
                  border-radius: 4px;
                  padding-left: 0;
                  width: 40px;
                  height: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  input {
                    display: block;
                    width: 0;
                    height: 0;
                  }

                  input:checked {
                    &::after {
                      content: '';
                      position: absolute;
                      display: block;
                      z-index: 1;
                      top: -22px;
                      left: -10px;
                      border: 1px solid #000;
                      border-radius: 4px;
                      background: transparent;
                      width: 40px;
                      height: 40px;
                    }
                  }
                }
              }
            }

            div[id^="input-option"] {
              display: flex;
              flex-wrap: wrap;
              padding: 10px 0;
              gap: 10px;

              .radio {
                margin: 0;
                flex-shrink: 0;

                label {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 5px;
                  padding-left: 0;
                  font-size: 12px;

                  input {
                    display: none;

                    &:checked + img {
                      border: 1px solid #333;
                    }
                  }

                  img {

                    object-fit: cover;
                    transition: unset;
                    padding: 0;

                    @media (max-width: 500px) {
                      width: 80px;
                      height: 100px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.zoom-sticky {
  position: sticky;
  z-index: 10;
  top: 0;

  .zoom {
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;
    padding-bottom: 100%;
    background: #ffffff;
    display: none;
    @media (max-width: 768px) {
      display: none !important;
    }

  }
}

.product {
  &-left {
    .thumbnail {
      &:hover {
        .img-zoom-lens {
          display: block;
        }
      }
    }
  }
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #ddd;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  display: none;
  @media (max-width: 768px) {
    display: none !important;
  }
}

.d-none {
  display: none;
}

#common-home {
  .ishislider {
    .owl {
      &-carousel {
        .owl {
          &-item {
            a.slideshow__link {
              .container {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

#footer {
  .block {
    &-contact {
      .block {
        .content {
          .phone-title,
          .email-title,
          .address-title {
            color: #333;
            font-weight: 400;
          }
        }
      }
    }
  }
}

#cart {
  &.open {
    &::after {
      content: '';
      display: block;
      position: fixed;
      z-index: 100;
      background-color: rgba(51, 51, 51, .5);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .cart {
    &-dropdown {
      &.dropdown-menu {
        display: block;
        right: -1000px;
        transition: all 0.2s ease-in-out;

        &.open {
          right: 0;
          z-index: 130;
        }
      }
    }
  }
}

#account-newsletter,
#account-affiliate,
#checkout-checkout {
  .radio {

    label {
      padding-left: 0;
    }

    &-pseudo {
      width: 18px;
      height: 18px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #ccc;
      background: #fff;
      flex-shrink: 0;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 10px;

      &::before {
        content: "";
        width: 8px;
        height: 8px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        border-radius: 50%;
        background: #001e3b;
        opacity: 0;
      }
    }

    input[type="radio"] {
      display: none;

      &:checked + .radio-pseudo {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

#checkout-checkout {
  .radio {
    &-pseudo {
      top: -2px;
    }
  }
}

.checkbox,
.radio {
  margin-top: 12px;
  margin-bottom: 12px;
}

#collapse-payment-method {
  input[type="checkbox"] {
    display: none;

    &:checked + .checkbox-pseudo {
      &::after,
      &::before {
        content: ' ';
        position: absolute;
        top: 8px;
        height: 2px;
        background: #232323;
      }

      &::after {
        transform: rotate(45deg);
        left: 2px;
        width: 6px;
        top: 9px;
      }

      &::before {
        transform: rotate(-45deg);
        right: 2px;
        width: 10px;
      }
    }
  }
}

.tabs {
  &_info {
    #tab-review {
      .write-review {
        display: flex;

        input[type=radio] {
          display: none;
        }

        &__voting {
          font-size: 0;
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
        }

        &__label {
          display: block;

          &.disabled {
            color: #ccc;
          }

          &_vote {
            cursor: pointer;
            width: 15%;
            fill: #ddd;
            display: flex;
            padding: 0 10px;
            position: relative;
            flex-direction: column;
            align-items: center;
            @media (max-width: 550px) {
              width: 20%;
            }

            svg {
              width: 20px;
            }
          }
        }

        .write-review__voting > input:checked ~ label {
          svg {
            fill: #fec42d;
          }
        }

        .write-review__voting:not(:checked) > label:hover,
        .write-review__voting:not(:checked) > label:hover ~ label {
          svg {
            fill: #fec42d;
          }
        }
      }
    }
  }
}

.checkbox {
  &-pseudo {
    outline: 0;
    border: 1px solid #232323;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    top: -1px;
  }

  label {
    padding-left: 0;
    display: flex;
    align-items: center;
  }

  input[type="checkbox"] {
    display: none;

    &:checked + .checkbox-pseudo {
      &::after,
      &::before {
        content: ' ';
        position: absolute;
        top: 8px;
        height: 2px;
        background: #232323;
      }

      &::after {
        transform: rotate(45deg);
        left: 2px;
        width: 6px;
        top: 9px;
      }

      &::before {
        transform: rotate(-45deg);
        right: 2px;
        width: 10px;
      }
    }
  }
}

#product-category {
  @media (max-width: 991px) {
    .product {
      &-list {
        &-top {
          .pagination {
            &-right {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

#_mobile_column_left {
  @media (max-width: 991px) {
    #column-left {
      position: initial;
    }
    .filterbox {
      position: fixed;
      top: 102px;
      left: 0;
      z-index: 10;
      background: #fff;

      .data-toggler.collapse.in {
        min-width: 200px;
      }

      .block-title {
        .page-title {
          padding: 10px;
          background: #e3a5b0;
          color: #fff;
        }

        .navbar-toggler.collapse-icons {
          top: 8px;
        }
      }
    }
  }
}

#product-product {
  .product {
    &_carousel {
      .form-group {
        .compare {
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }
  }
}

#mobile_top_menu_wrapper {
  border-right: 1px solid #e7e7e7;
}

.product {
  &-container {
    .product {
      &-thumb {
        .button {
          &-group {
            .btn-compare {
              @media (max-width: 767px) {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &-list-top {

    .compare {
      &-desktop {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    .pagination {
      &-right {
        .show-wrapper {
          @media (max-width: 543px) {
            margin: 0;
          }
        }

        @media (max-width: 767px) {
          margin-right: 15px;
        }
      }
    }
  }
}

.ishiservicesblock {
  .ishiservices {
    .services {
      .services {
        &-part {
          @media (min-width: 1200px) {
            padding: 34px 20px;
          }
        }
      }
    }
  }
}

.ishiservicesblock {
  .ishiservices {
    .services {
      .service {
        &-img {
          span {
            width: 50px;
            height: 50px;
            background-size: contain;
          }
        }
      }
    }
  }
}

.ishitestimonials {
  .ishitestimonials {
    &-container {
      .testimonial {
        &-img {
          max-width: 50px;

          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}