.minicart {
  &-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-button {
    width: 100%;
  }
}

.breadcrumb {
  padding: 10px 0;
  text-align: left;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 544px) {
    max-width: 576px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }

  @media (max-width: 991px) {
    padding: 10px 15px;
  }
}

.language {
  &-selector {
    &::after {
      content: none;
    }
  }
}